body{
  background-image: url('https://static.pexels.com/photos/109243/pexels-photo-109243.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width:100%;
  height:100vh;
  color: rgb(48, 47, 47);
}
.body{
  display: flex;
  flex-direction: column;
}
.hero-header{
  height:320px;
  margin-top:110px;
}
.hero-header-title{
  font-size: 3.7em;
  font-weight: 500;
  letter-spacing: .03em;
  margin-left: 140px;
}
.hero-header-subtitle{
  margin-left: 145px;
  margin-top: -10px;
  font-style: italic;
  font-size: 1.2em;
}
.hero-header-description{
  margin-left: 145px;
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: .02em;
  font-size: 1.2em;
}
.section{
  padding-top: 3%;
  padding-bottom:3%;
  width:100%;
  display: flex;
  flex-direction: column;
  /* padding:10px; */
  align-items: center;
}
.section-title{
  font-size: 2em;
  letter-spacing: .02em;
  font-weight: 500;
  color:black;
}
.tile-container{
  display: flex;
  flex-direction: row;
  width:90%;
  justify-content: space-around;
  margin-top:20px;
  flex-wrap: wrap;
}
#bio{
  background-color: rgba(182, 161, 158, .7);
}
#projects{
  background-color: rgba(233, 231, 218, .7) ;
}
#skills{
  background-color: rgba(157, 142, 179, 0.7);
}
#contact{
  background-color: rgba(233, 231, 218, .3) ;
}
.contact-container{
  display: flex;
  flex-direction: row;
  width:60%;
  justify-content: space-around;
  margin-top:50px;
  flex-wrap: wrap;
}
.contact-icon{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height:60px;
  width:60px;
}
.linkedIn{
 background-image: url('./assets/linkedIn.png')
}
.github{
  background-image: url('./assets/github.png')
}
.mail{
  background-image: url('./assets/mail.png');
  height:75px;
  width:75px;
}
.tinder{
  background-image: url('./assets/tinder.png')
}
@media (max-width:500px){
  .hero-header-title{
    font-size:2.3em;
    margin-left:60px;
  }
  .hero-header-subtitle{
    font-size:1em;
    margin-left:65px;
  }
  .hero-header-description{
    font-size: 1em;
    margin-left:65px;
  }
  .hero-header{
    height:200px;
  }
  .contact-container{
    width:90%;
    margin-bottom:20px
  }
  .contact-icon{
    height:45px;
  }
}
